.header {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  box-sizing: border-box;
  z-index: var(--mantine-z-index-header);
  backdrop-filter: blur(10px);

  &.visible {
    transform: translateY(0%);
  }
}
