.root {
  // variants
  &[data-variant="link"] {
    padding: 0;
    background: transparent;
    color: var(--mantine-black-color-4);

    &:hover {
      background: transparent;
    }
  }

  // default
  --button-bg: var(--mantine-primary-color-4);
  --button-color: var(--mantine-color-bright);

  path {
    fill: var(--mantine-color-white-text);
  }

  &:hover {
    background: var(--mantine-color-neutral-4);
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(2);
  }
}
