.root {
  &[data-variant="link"] {
    padding: 0;
    background: transparent;
    color: var(--mantine-black-color-4);

    &:hover {
      background: transparent;
    }
  }

  path {
    fill: var(--mantine-color-white-text);
  }

  &:hover {
    background: var(--mantine-color-neutral-4);
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
