.root {
  &[data-variant="text"] {
    --text-fz: var(--mantine-font-size-6xl);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-122);
    letter-spacing: -0.02em;
  }

  &[data-variant="paragraph1"] {
    --text-fz: var(--mantine-font-size-lg);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-140);
    letter-spacing: 0.02em;
  }

  &[data-variant="paragraph2"] {
    --text-fz: var(--mantine-font-size-md);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-taller);
    letter-spacing: 0.02em;
  }

  &[data-variant="paragraph3"] {
    --text-fz: var(--mantine-font-size-xs);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-xl);
    letter-spacing: 0.02em;
  }

  &[data-variant="button"] {
    --text-fz: var(--mantine-font-size-lg);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-base);
    letter-spacing: 0.02em;
  }

  &[data-variant="button2"] {
    --text-fz: var(--mantine-font-size-md);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-tall);
    letter-spacing: 0.02em;
  }

  &[data-variant="underlined"] {
    --text-fz: var(--mantine-font-size-lg);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-base);
    letter-spacing: 0.02em;
    text-decoration: underline;
  }

  &[data-variant="outlined"] {
    font-family: sans-serif;
    --text-fz: var(--mantine-font-size-6xl);
    --text-fw: 400;
    --text-lh: var(--mantine-line-height-122);
    letter-spacing: -0.02em;
    -webkit-text-fill-color: var(--mantine-color-white);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--mantine-color-black);
  }
}

@include media-sm {
  .root {
    &[data-variant="text"],
    &[data-variant="outlined"] {
      --text-fz: var(--mantine-font-size-2xl);
    }
  }
}
