.root {
  display: flex;
  gap: rem(16px);
  row-gap: rem(20px);
  flex-wrap: wrap;
  row-gap: 1.25rem;

  &:is(h1),
  &:is(h2),
  &:is(h3),
  &:is(h4),
  &:is(h5),
  &:is(h6) {
    letter-spacing: -0.02em;
  }
}

@include media-sm {
  .root {
    row-gap: rem(12px);
  }
}
