.root {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  row-gap: 1.25rem;

  &:is(h1) {
    letter-spacing: -0.72px;
  }

  &:is(h2) {
    letter-spacing: -0.64px;
  }

  &:is(h3) {
    letter-spacing: -0.56px;
  }

  &:is(h4) {
    letter-spacing: -0.48px;
  }

  &:is(h5) {
    letter-spacing: -0.4px;
  }

  &:is(h6) {
    letter-spacing: -0.32px;
  }
}

@include media-sm {
  .root {
    row-gap: 0.75rem;
  }
}
