.block {
  background-color: var(--mantine-color-black);
}

.imgBlock {
  align-self: flex-start;
  overflow: hidden;
  border-radius: var(--mantine-radius-18);
  box-shadow: var(--mantine-shadow-md);

  img {
    object-fit: cover;
  }
}

@include media-sm {
  .imgBlock {
    img {
      width: 100%;
    }
  }
}
