@use "sass:math";

$mantine-breakpoint-xs: "36em";
$mantine-breakpoint-sm: "48em";
$mantine-breakpoint-md: "60em";
$mantine-breakpoint-lg: "75em";
$mantine-breakpoint-xl: "90em";

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme="light"] & {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme="dark"] & {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin smaller-than($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin larger-than($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir="rtl"] & {
    @content;
  }
}

@mixin ltr {
  [dir="ltr"] & {
    @content;
  }
}

@mixin media($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin media-xs {
  @include media($mantine-breakpoint-xs) {
    @content;
  }
}

@mixin media-sm {
  @include media($mantine-breakpoint-sm) {
    @content;
  }
}

@mixin media-md {
  @include media($mantine-breakpoint-md) {
    @content;
  }
}

@mixin media-lg {
  @include media($mantine-breakpoint-lg) {
    @content;
  }
}
